@import "reset";
@import "themes/dark";
@import "themes/light";
@import "variables/global";
@import "fonts/Inter";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  overflow-x: hidden;
}

.left {
  display: flex;

  justify-content: flex-end;
}