.app.dark {
  --bg-color: #333333;
  --inverted-bg-color: #FFFFFF;

  --primary-text-color: #FFFFFF;
  --secondary-text-color: rgba(255, 255, 255, 0.8);
  --info-text-color: rgba(255, 255, 255, 0.7);
  --accent-text-color:   #FFFFFF;

  --primary-color: #263cb9;
  --accent-color: #131111;
  --inverted-primary-color: #223ee9;
  --inverted-secondary-color: #F4F6FA;
}