.app.light {
  --bg-color: #FFFFFF;
  --secondary-bg-color: #F4F4F4;
  --inverted-bg-color: #333333;

  --primary-text-color: #333333;
  --secondary-text-color: rgba(51, 51, 51, 0.80);
  --info-text-color: rgba(51, 51, 51, 0.70);
  --accent-text-color: #FFFFFF;

  --primary-color: #263cb9;
  --accent-color: #F4F6FA;
  --inverted-primary-color: #1c3cf1;
  --inverted-secondary-color: #1b263b;
}